/* Universal Rules */

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h2 {
  font-size: 35px;
}

h4 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 20px 10px;
}

a {
  color: Black;
}

/* Header Rules */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
  top: 0px;
  background-color: white;
}


header nav {
  padding-right: 40px;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: MediumAquamarine;
}

.logo img {
  padding-left: 30px;
  padding-right: 10px;
  width: 70px;
  height: 60px;
}

/* Main Content Rules */

content {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.left {
  width: 630px;
}

.column.middle {
  width: 300px;
}

.column.right {
  width: 240px;
  text-align: center;
}

.image-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  margin-top: 15px;
}

/* Left Column Rules */

.sub-stories {
  display: flex;
  justify-content: space-between;
}

.tuna-concert .image-content {
  font-size: 40px;
}

.tuna.image-content {
  background-image: url(../images/champagne-main.png);
}

.autumn.image-content {
  background-image: url(../images/autumn-trees.png);
}

.cameraman.image-content {
  background-image: url(../images/cameraman.png);
}

.orca-sub {
  width: 300px;
}

.burger-sub {
  width: 300px;
}


/* Middle Column Rules */

.cat.image-content {
  background-image: url(../images/cat-ceo.png);
}

/* Right Column Rules */

.news-bites {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  text-align: left;
}

.bite {
  margin: 0;
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

/* Footer Rules */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 325px;
  margin: auto;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
}

footer nav {
  padding-left: 25px;
}

.info {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}
