/* Universal Rules */

div {
  border: 1px solid black;
}



/* Header Rules */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
  top: 0px;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: MediumAquamarine;
}

.logo img {
  padding-left: 30px;
  padding-right: 10px;
  width: 70px;
  height: 60px;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 10px 10px;
}

a {
  color: Black;
}

/* Main Content Rules */

content {
  display: flex;
  margin-top: 80px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.left {
  width: 630px;
}

.column.middle {
  width: 300px;
}

.column.right {
  width: 240px;
}

/* Left Column Rules */

.tuna-concert {
  background-color: Cyan;
}

.orca-sub {
  background-color: SaddleBrown;
}

.burger-sub {
  background-color: Yellow;
}

/* Middle Column Rules */

.fbi-sub {
  background-color: Lime;
}

.cat-sub {
  background-color: DodgerBlue;
}

/* Right Column Rules */

.news-bites {
  background-color: Magenta;
}
